<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Student Data</h1>
        </div>
        <form [formGroup]="formgroup" (ngSubmit)="submit(formgroup.value)">
            <div class="col-lg-12  form-group">
                <input type="text" formControlName="id" hidden>
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Name" />
            </div>
            <div class="col-lg-12 form-group">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Email" />
            </div>
            <div class="col-lg-12 form-group">
                <label>Mobile No</label>
                <input type="text" class="form-control" formControlName="mobileno" placeholder="Mobile No" />
            </div>
            <div class="col-lg-12 form-group mt-2">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
        </form>

    </div>
    <div class="row">

        <h1>JSON Data</h1>

        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                   
                     <th>id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                  
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of datas;let i=index">
                 
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.mobileno}}</td>
                    <button class="btn btn-outline-danger p-2 me-2" (click)="editData(data)">Edit</button>
                    <button class="btn btn-outline-primary p-2" (click)="deleteData(data)">Delete</button>
                   
          
                </tr>
            </tbody>

            </table>
        </div>

    </div>
</div>